<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header>
      <sandwichButton onclick="toggleOpen()">
        <div></div>
        <div></div>
        <div></div>
      </sandwichButton>
      <h1>Amy Hannah Morgan</h1>

      <nav class="sandwich">
        <div class="close" onclick="toggleOpen()">
          <h1>Close</h1>
        </div>
        <div class="clickdown">
          <div class="clickdownButton" onclick="toggleClickdown(this)">
            <h1><a href="/">About Me</a></h1>
            <div class="clickdownArrow">

            </div>
          </div>
          <div class="clickdownMenu">
            <ul>
              <li><a href="/#introduction">Introduction</a></li>
              <li><a href="/#hobbies">Hobbies and Interests</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <script src="/js/sandwich-nav.js" charset="utf-8"></script>
    </header>
    <nav class="dropdown">
      <div class="dropdownContainer">
        <div class="dropdownTitle">
          <a href="/">About Me</a>
        </div>
        <div class="dropdownContent">
          <ul>
            <li>Introduction</li>
            <li>Hobbies and Interests</li>
          </ul>
        </div>
      </div>
      <div class="dropdownContainer">
        <div class="dropdownTitle">
          <a href="/qualifications/">Qualifications</a>
        </div>
        <div class="dropdownContent">
          <ul>
            <li>Qualifications</li>
            <li>Achievements</li>
            <li>Projects</li>
          </ul>
        </div>
      </div>
      <div class="dropdownContainer">
        <div class="dropdownTitle">
          <a href="/cvs/">CVs</a>
        </div>
        <div class="dropdownContent">
          <ul>
            <li>Technical CV</li>
            <li>Non-technical CV</li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="pageBorders">
      <div class="border borderLeft">

      </div>
      <div class="border borderRight">

      </div>
    </div>

    {{ content }}

  </body>
</html>
