<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header>
      <sandwichButton onclick="toggleOpen()">
        <div></div>
        <div></div>
        <div></div>
      </sandwichButton>
      <h1>Amy Hannah Morgan</h1>

      <nav class="sandwich">
        <div class="close" onclick="toggleOpen()">
          <h1>Close</h1>
        </div>
        <div class="clickdown">
          <div class="clickdownButton" onclick="toggleClickdown(this)">
            <h1><a href="/">About Me</a></h1>
            <div class="clickdownArrow">

            </div>
          </div>
          <div class="clickdownMenu clickdownMenuTransition" collapsed='true'>
            <ul>
              <li><a href="/#introduction">Introduction</a></li>
              <li><a href="/#hobbies">Hobbies and Interests</a></li>
            </ul>
          </div>
        </div>
        <div class="clickdown">
          <div class="clickdownButton" onclick="toggleClickdown(this)">
            <h1><a href="/qualifications">Qualifications</a></h1>
            <div class="clickdownArrow">

            </div>
          </div>
          <div class="clickdownMenu clickdownMenuTransition" collapsed='true'>
            <ul>
              <li><a href="/qualifications/#qualifications">Qualifications</a></li>
              <li><a href="/qualifications/#achievements">Achievements</a></li>
            </ul>
          </div>
        </div>
        <div class="clickdown">
          <div class="clickdownButton">
            <h1><a href="/projects">Projects</a></h1>
          </div>
        </div>
        <div class="clickdown">
          <div class="clickdownButton" onclick="toggleClickdown(this)">
            <h1><a href="/cvs">CVs</a></h1>
            <div class="clickdownArrow">

            </div>
          </div>
          <div class="clickdownMenu clickdownMenuTransition" collapsed='true'>
            <ul>
              <li><a href="/cvs/#TCV">Technical CV</a></li>
              <li><a href="/cvs/#NTCV">Non-technical CV</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <script src="/js/sandwich-nav.js" charset="utf-8"></script>
    </header>
    <nav class="dropdown">
      <div class="dropdownContainer">
        <div class="dropdownTitle">
          <a href="/">About Me</a>
        </div>
        <div class="dropdownContent">
          <ul>
            <li><a href="/#introduction">Introduction</a></li>
            <li><a href="/#hobbies">Hobbies and Interests</a></li>
          </ul>
        </div>
      </div>
      <div class="dropdownContainer">
        <div class="dropdownTitle">
          <a href="/qualifications/">Qualifications</a>
        </div>
        <div class="dropdownContent">
          <ul>
            <li><a href="/qualifications/#qualifications">Qualifications</a></li>
            <li><a href="/qualifications/#achievements">Achievements</a></li>
          </ul>
        </div>
      </div>
      <div class="dropdownContainer">
        <div class="dropdownTitle">
          <a href="/projects/">Projects</a>
        </div>
      </div>
      <div class="dropdownContainer">
        <div class="dropdownTitle">
          <a href="/cvs/">CVs</a>
        </div>
        <div class="dropdownContent">
          <ul>
            <li><a href="/cvs/#TCV">Technical CV</a></li>
            <li><a href="/cvs/#NTCV">Non-technical CV</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="pageBorders">
      <div class="border borderLeft">

      </div>
      <div class="border borderRight">

      </div>
    </div>

    {{ content }}

    <footer class="mobileFooter">
      <h2>Find Me On</h2>
      <div class="socialMediaLinks">
        <a href="https://github.com/AmyHannahMorgan"><img src="/assets/social media icons/social-1_logo-github.svg" alt=""></a>
        <a href="https://www.linkedin.com/in/amy-morgan-94153017a/"><img src="/assets/social media icons/social-1_logo-linkedin.svg" alt=""></a>
        <a href="https://twitter.com/AmyHMorgan"><img src="/assets/social media icons/social-1_logo-twitter.svg" alt=""></a>
      </div>
      <p>&copy; <span id="copyrightYear"></span>, Amy Hannah Morgan</p>
      <p><a href="http://www.freepik.com/">Vectors&nbsp;graphics designed by Freepik</a></p>
      <p><a href="https://nucleoapp.com/">Social media icons by Sebastiano Guerriero</a></p>
    </footer>
    <script src="/js/copyright-year.js" charset="utf-8"></script>
  </body>
</html>
